.App {
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  font-size: calc(15px + 2vmin);
  padding-top: 60px;
}

html,
body {
  margin: 0;
}

body {
  color: snow;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
